/* header & cover */
.index_page {
  height: 860px;
  background-image: url("./images/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0f0f0f
}
.for_fixed{
  position: sticky;     
  top: 0;
  left: 0;
  width: 100%; 
  transition: all 1s;
}
.for_fixed.activeFixed{
  opacity: 0;
}
.header_block {
  padding: 22px 162px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;  */
  position: relative;
}
.logo, .header_block_ul li a{
  outline: none;
}
.active{
  /* text-decoration: underline; */
  background-color: #1A1A1A;
  padding: 14px 24px;
  border-radius: 8px;
  border: 2px solid #262626;
}
.active:hover{
  color: #E50000;
}
.item:hover{
  color: #E50000;
}
.fa-bars{
  font-size: 24px;
  color: #FFFFFF;
}

.header_block_nav {
  background-color: #0f0f0f;
  padding: 24px 40px;
  border: 4px solid #1f1f1f;
  border-radius: 12px;
}
.header_block_ul {
  display: flex;
  column-gap: 30px;
}
.header_block_ul li a {
  color: #bfbfbf;
}
.burger_bar{
  width: 40px;
  height: 40px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 187px;
  display: none;
}
.burger_bar.activeBurgerBar .line1{
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.burger_bar.activeBurgerBar .line2 {
  display: none;
}
.burger_bar.activeBurgerBar .line3{
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.line{
  width: 80%;
  height: 4px;
  background-color: #E50000;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s;
}
.line1{
  top: 30%;
}
.line3{
  top: 70%;
}
.header_block_icons_box {
  width: 98px;
  height: 34px;
  display: flex;
  column-gap: 30px;
}
.fa-magnifying-glass,
.fa-bell {
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
}
.fa-bell:hover{
  color: #E50000;
}
.fa-magnifying-glass:hover{
  color: #E50000;
}
/* section N1 */
.sub_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;  /* background*/
}
.text_container{
  padding: 0 412px 50px;
  text-align: center;
}
.text_container_h2{
  color: #FFFFFF;
  font-size: 54px;
  margin-bottom: 14px;
  cursor: default;
}
.text_container_p{
  color: #999999;
  font-size: 18px;
  cursor: default;
}
.fa-play{
  font-size: 28px;
}
.sub_container_button_a{
  outline: none;
}
.sub_container_button{
  width: 251px;
  height: 64px;
  background-color: #E50000;
  color: #ffff;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
/*  Movies category */
.arrow_section{
  background-color: #141414;
  padding: 200px 161px 150px;
  display: flex;
  flex-direction: column;
}
.arrow_section_top_box{
  display: flex;
  column-gap: 100px;
  margin-bottom: 80px;
}
.arrow_section_text_container_h2{
  color: #FFFFFF;
  font-size: 38px;
  margin-bottom: 14px;
}
.arrow_section_text_container_p{
  color: #999999;
  font-size: 18px;
}
.button_box{
  padding: 16px;  
  background-color: #0F0F0F;
  border-radius: 12px;
  border: 1px solid #1F1F1F;
  display: flex;
  align-items: center;
}
.left_arrow, .right_arrow{
  outline: none;
}
.dot_button.dot_button_red{
  background-color: red;
  border: none;
  width: 23px;
  height: 4px;
  border-radius: 1px;
}
.dot_button{
  background-color: #333333;
  border: none;
  width: 16px;
  height: 4px;
  border-radius: 2px;
  outline: none;
}
 .buttons_dots{
  margin-inline: 16px;
  display: flex;
  column-gap: 3px;
  align-items: center;
 }
.button_box_button{
  background-color: #1A1A1A;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px;
  border: 1px solid #1F1F1F;
}
.fa-arrow-left, .fa-arrow-right {
  color: #FFFFFF;
  font-size: 28px;
}
/* cards */
.arrow_section_bottom_box_cards{
  display: flex;
  justify-content: space-between;
}
.arrow_section_bottom_box_cards a{
  outline: none;
}
.cards_image{
  width: 150px;
  height: 175px;
}
.card{
  padding: 30px;
  background-color: #1A1A1A;
  border-radius: 12px;
  border: 1px solid #262626;
}
.dards_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.film_card_p{
  color: #FFFFFF;
  font-size: 18px;
}
/* devices_section */
.devices_section{
  background-color: #141414;
  padding: 0 161px 150px;
}
.devices_section_top_section{
  margin-bottom: 80px;
}
.devices_section_h2{
  font-size: 38px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.devices_section_p{
  font-size: 18px;
  color: #999999;
}
.device_cards{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.device_cards_each{
  border: 1px solid #262626;
  border-radius: 12px;
  background-color: #0F0F0F;
  padding: 40px;
  width: 370px;
  height: 170;
  cursor: pointer;
}
.device_cards_each a{
  outline: none;
}
.device_cards_boxx{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.device_cards_boxx_img{
  padding: 16px;
  background-color: #141414;
  border-radius: 12px;
  border: 1px solid #1F1F1F;
}
.device_cards_h2{
  color: #FFFFFF;
  margin-left: 16px;
}
.device_cards_p{
  color: #999999;
}
/* FAQ section */
.FAQ_section{
  background-color: #141414;
  padding: 0 162px 150px;
}
.FAQ_up{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
}
.FAQ_up_h2{
  font-size: 38px;
  color: #FFFFFF;
  margin-bottom: 14px;
  cursor: default;
}
.FAQ_up_p{
  font-size: 18px;
  color: #999999;
  cursor: default;
}
.FAQ_up_button{
  border: none;
  padding: 18px 24px;
  background-color: #E50000;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}
/* FAQ lists */
.FAQ_bottom{
  display: flex;
    column-gap: 80px;
}
.FAQ_bottom_left_side_li, .FAQ_bottom_left_right_li{
  display: flex;
  column-gap: 24px;
  align-items: center;
  padding: 30px 34px;
  border-bottom: 1px solid #E50000;
  /* cursor: pointer; */
}
/* .accordion_main{
  max-width: 700px;
  width: 100%;
} */
 .acc_title{
  position: relative;
 }
 .acc_title::before{
  content: '	\002b';
  font-size: 40px;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
 }
 .acc_content{
  height: 0;
  width: 100%;
  overflow: hidden;
  color: #999999;
  font-size: 18px;
  margin-top: 45px;
  transition: all 0.5s;
 }
.FAQ_bottom_left_side_h2, .FAQ_bottom_left_right_h2{
  width: 62px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #262626;
  background-color: #1F1F1F;
  color: #FFFFFF;
  cursor: default;
}
.accordion_container.activeAccordion .acc_title::before{
  content: '\002d';
  font-size: 60px;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
}
.accordion_container.activeAccordion .acc_content{
 height: 100px;
}
.FAQ_bottom_left_side_div, .FAQ_bottom_left_right_div{
  width: 360px;
}
.FAQ_bottom_left_side_p, .FAQ_bottom_left_right_p{
  font-size: 22px;
  color: #FFFFFF  ;
}
/* subscription section */
.plan_section{
  background-color: #141414;
  padding: 0 162px 150px;
}
.plan_section_up{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
}
.plan_section_up_left_h2{
  font-size: 38px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.plan_section_up_left_p{
  color: #999999;
  font-size: 18px;
}
.plan_section_up_right{
  padding: 10px;
  background-color: #0F0F0F;
  border-radius: 10px;
  border: 1px solid #262626;
  display: flex;
}
.monthly_button{
  color: #FFFFFF;
  background-color: #1F1F1F;
  border: none;
  outline: none;
  padding: 14px 24px;
  border-radius: 10px;
  cursor: pointer;
}
.yearly_button{
  color: #999999;
  background-color: #0F0F0F;
  border: none;
  outline: none;
  padding: 14px 24px;
  cursor: pointer;
}
/* plan - cards */
.plan_section_down{
  display: flex;
  justify-content: space-between;
}
.plan_section_down_card{
  padding: 50px;
  background-color: #1A1A1A;
  width: 390px; 
  border-radius: 12px;
  border: 1px solid #262626;
}
.plan_section_down_card_h2 {
  color: #FFFFFF;
  font-size: 24px;
  margin-bottom: 16px;
}
.plan_section_down_card_p{
  color: #999999;
  font-size: 16px;
  margin-bottom: 30px;
}
.plan_section_down_card_h2_price{
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 30px;
}
.plane_price{
  color: #999999;
  font-size: 18px;
}
/* plane - buttons */
.plan_section_down_card_buttons{
  display: flex;
  column-gap: 20px;
}
.plan_section_down_card_buttons_left{
  width: 190px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: #141414;
  border: 1px solid #262626;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;

}
.plan_section_down_card_buttons_right{
  width: 190px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: #E50000;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}
/* background image */
.bg_img{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  padding: 0 162px 150px;
}
.bg_img_photo{
  width: 1150px;
  border-radius: 12px;
  border: 1px solid #262626;
  position: relative;
}
.bg_img_div{
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 100px;
}
.bg_img_h2{
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.bg_img_p{
  font-size: 18px;
  color: #999999;
}
.bg_img_button{
  padding: 18px 24px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #E50000;
  color: #FFFFFF;
  cursor: pointer;
}
/* footer */
footer{
  background-color: #0F0F0F;
  padding: 100px 162px 50px;
}
.footer_top_div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer_h2{
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.footer_ul{
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.footer_ul li a{
  font-size: 18px;
  color: #999999;
}
.footer_icons_div{
  display: flex;
  column-gap: 14px;
}
.fa-facebook, .fa-twitter, .fa-linkedin{
  font-size: 24px;
  color: #FFFFFF;
  padding: 16px;
  background-color: #1A1A1A;
  border-radius: 8px;
  border: 1px solid #262626;
  cursor: pointer;
}
.footer_bottom_div{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #262626;
  padding-top: 24px;
}
.footer_bottom_div_p{
  font-size: 18px;
  color: #999999;
  cursor: default;
}
.footer_bottom_div_ul{
  display: flex;
  column-gap: 20px;
}
.footer_bottom_div_ul li a{
  font-size: 18px;
  color: #999999;
  border-right: 1px solid #262626;
  padding-right: 20px;
}




/* support section */
.support_page{
  background-color: #141414;
}
.form_main_box{
  display: flex;
}
.form_section{
  padding: 261px 162px 120px;
  background-color: #141414;
}
.left_form_main_box{
  width: 533px;
  margin-right: 80px;
}
.form_section_h2{
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.form_section_p{
  font-size: 18px;
  color: #999999;
  margin-bottom: 50px;
}
.form_section_img{
  width: 100%;
}
/* form box */
.right_form_main_box{
  background-color: #0F0F0F;
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #262626;
}
.form_box_first_line{
  display: flex;
  margin-bottom: 50px;
}
.form_box_first_line_fname_lname label{
  font-size: 18px;
  color: #ffff;
}
.form_box_first_line_fname_lname input{
  margin-top: 16px;
  padding: 20px;
  background-color: #141414;
  outline: none;
  border: none;
  border-radius: 8px;
  border: 1px solid #262626;
  color: #FFFFFF;
  font-size: 14px;
}


.form_box_second_line{
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}
.countrys select{
  width: 49px;
  height: 50px;
  outline: none;
  border: none;
  margin-top: 30px;
  margin-right: 10px;
  background-color: #141414;
  border-radius: 8px;
  color: #FFFFFF;
  border: 1px solid #262626;
}
.textarea_div{
  display: flex;
  flex-direction: column;
}
.textarea_div label {
  font-size: 18px;
  color: #FFFFFF;
}
.textarea_div textarea{
  resize: none;
  border: none;
  outline: none;
  border: 1px solid #262626;
  margin-top: 16px;
  background-color: #141414;
  color: #FFFFFF;
  width: 550px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 50px;
}
.last_form_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox_title label{
  font-size: 18px;
  color: #999999;
}
.submit_button{
  padding: 18px 24px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #E50000;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}



